# Brian's EDA - Origin Data

Working on determining whether or not water pumps in Tanzania are functional, functional but in need of maintenance or non-functional.

I thought it may be prudent to bring in soil data, as some soils would cause increased rates of deterioration of piping and other pump mechanisms. This likely correlates to the 'quality' parameter of our original data set, which is a non-parametric classification of water hardness.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Pull SpatialJoin data into notebook

xls = pd.ExcelFile("./00_Source_Data/Data/X_Train_SpatialJoin.xls")
X = xls.parse(0)

In [3]:
X.columns

Index(['OBJECTID', 'Join_Count', 'TARGET_FID', 'JOIN_FID', 'X_train_csv_id',
       'X_train_csv_amount_tsh', 'X_train_csv_date_recorded',
       'X_train_csv_funder', 'X_train_csv_gps_height', 'X_train_csv_installer',
       'X_train_csv_longitude', 'X_train_csv_latitude', 'X_train_csv_wpt_name',
       'X_train_csv_num_private', 'X_train_csv_basin',
       'X_train_csv_subvillage', 'X_train_csv_region',
       'X_train_csv_region_code', 'X_train_csv_district_code',
       'X_train_csv_lga', 'X_train_csv_ward', 'X_train_csv_population',
       'X_train_csv_public_meeting', 'X_train_csv_recorded_by',
       'X_train_csv_scheme_management', 'X_train_csv_scheme_name',
       'X_train_csv_permit', 'X_train_csv_construction_year',
       'X_train_csv_extraction_type', 'X_train_csv_extraction_type_group',
       'X_train_csv_extraction_type_class', 'X_train_csv_management',
       'X_train_csv_management_group', 'X_train_csv_payment',
       'X_train_csv_payment_type', 'X_train_csv_water_quality',
       'X_train_csv_quality_group', 'X_train_csv_quantity',
       'X_train_csv_quantity_group', 'X_train_csv_source',
       'X_train_csv_source_type', 'X_train_csv_source_class',
       'X_train_csv_waterpoint_type', 'X_train_csv_waterpoint_type_group',
       'y_train_csv_id', 'y_train_csv_status_group', 'LANDFORM', 'LITHOLOGY',
       'SOILS', 'WRB', 'DOMSOILS', 'CODE_WRB'],
      dtype='object')

### Initial Data Cleaning

- reformat column names
- remove 'junk columns'

In [4]:
# Define a list of junk columns
junk_cols = ['OBJECTID', 'Join_Count', 'TARGET_FID', 'JOIN_FID', 'y_train_csv_id']

# Drop junk columns
X.drop(columns = junk_cols, inplace=True);

In [5]:
# Set lists of new and old names for columns.
old_names = ['X_train_csv_id', 
             'X_train_csv_amount_tsh', 'X_train_csv_date_recorded', 
             'X_train_csv_funder', 'X_train_csv_gps_height', 'X_train_csv_installer', 
             'X_train_csv_longitude', 'X_train_csv_latitude', 'X_train_csv_wpt_name', 
             'X_train_csv_num_private', 'X_train_csv_basin', 
             'X_train_csv_subvillage', 'X_train_csv_region', 
             'X_train_csv_region_code', 'X_train_csv_district_code', 
             'X_train_csv_lga', 'X_train_csv_ward', 'X_train_csv_population', 
             'X_train_csv_public_meeting', 'X_train_csv_recorded_by', 
             'X_train_csv_scheme_management', 'X_train_csv_scheme_name', 
             'X_train_csv_permit', 'X_train_csv_construction_year', 
             'X_train_csv_extraction_type', 'X_train_csv_extraction_type_group', 
             'X_train_csv_extraction_type_class', 'X_train_csv_management', 
             'X_train_csv_management_group', 'X_train_csv_payment', 
             'X_train_csv_payment_type', 'X_train_csv_water_quality', 
             'X_train_csv_quality_group', 'X_train_csv_quantity', 
             'X_train_csv_quantity_group', 'X_train_csv_source', 
             'X_train_csv_source_type', 'X_train_csv_source_class', 
             'X_train_csv_waterpoint_type', 'X_train_csv_waterpoint_type_group', 
             'y_train_csv_status_group', 'LANDFORM', 'LITHOLOGY', 
             'SOILS', 'WRB', 'DOMSOILS', 'CODE_WRB']

new_names = ['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height', 
             'installer', 'longitude', 'latitude', 'wpt_name', 'num_private', 
             'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 
             'ward', 'population', 'public_meeting', 'recorded_by', 
             'scheme_management', 'scheme_name', 'permit', 'construction_year', 
             'extraction_type', 'extraction_type_group', 'extraction_type_class', 
             'management', 'management_group', 'payment', 'payment_type', 
             'water_quality', 'quality_group', 'quantity', 'quantity_group', 
             'source', 'source_type', 'source_class', 'waterpoint_type', 
             'waterpoint_type_group', 'target', 'landform', 'lithology', 'soils', 
             'wrb', 'dominant_soil', 'code_wrb']

# Rename columns using the newly created lists.
X.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [6]:
X

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,source_class,waterpoint_type,waterpoint_type_group,target,landform,lithology,soils,wrb,dominant_soil,code_wrb
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,groundwater,communal standpipe,communal standpipe,functional,TM,MA2,LPe,Eutric Leptosols,LP,LP-eu
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,surface,communal standpipe,communal standpipe,functional,LP,UP,PHl,Chromi-Luvic Phaeozems,PH,PH-lv-cr
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,surface,communal standpipe multiple,communal standpipe,functional,LP,MA2,LVx,Humi-Rhodic Luvisols,LV,LV-ro-hu
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,groundwater,communal standpipe multiple,communal standpipe,non functional,LP,MA2,CMo,Ferralic Cambisols,CM,CM-fl
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,surface,communal standpipe,communal standpipe,functional,SH,MA3,LPu,Humi-Umbric Leptosols,LP,LP-um-hu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57583,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,groundwater,communal standpipe,communal standpipe,functional,SH,UP,NTh,Eutric Nitisols,NT,NT-eu
57584,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,surface,communal standpipe,communal standpipe,functional,SH,MA2,ACh,Rhodic Acrisols,AC,AC-ro
57585,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,groundwater,hand pump,hand pump,functional,LP,UF,LPe,Eutric Leptosols,LP,LP-eu
57586,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,groundwater,hand pump,hand pump,functional,SH,IA1,CMo,Chromi-Ferralic Cambisols,CM,CM-fl-cr
57587,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,groundwater,hand pump,hand pump,functional,LP,MA2,FRr,Rhodic Ferralsols,FR,FR-ro

## Interested Columns and Descriptions

### Water Quality

Water quality is non-parametric and describes the condition of the water.

This attribute is also summarized in the `quality_group` column.

The quality of the water may be an important factor in determining the longevity of the pump.

In [7]:
X.water_quality.value_counts()

soft                  49431
salty                  4772
unknown                1661
milky                   803
coloured                479
salty abandoned         228
fluoride                199
fluoride abandoned       15
Name: water_quality, dtype: int64

In [8]:
X.quality_group.value_counts()

good        49431
salty        5000
unknown      1661
milky         803
colored       479
fluoride      214
Name: quality_group, dtype: int64

### Construction Year

The older a pump is, the more time the mechanisms and piping have had to erode. I postulate that an older pump is more likely to be in need or maintenance than a newer pump.

There is a problem with this data column:
- 20709 of our observations are NaN.
- Older pumps have fewer observations

We may be able to reconcile this data by binning pipes by age into 'New' and 'Old' pipes, where 'Old' is defined by some cut-off year. It is also likely that a large portion (or all) of our NaNs will fall into the 'Old' category, allowing us to impute our missing data with likely information without referencing other parameters.

In [9]:
X.construction_year.head()

0    1999
1    2010
2    2009
3    1986
4       0
Name: construction_year, dtype: int64

### Source

Source may be important as it would determine the mechanism of the pump. A bore hole ground water pump will be designed differently than a rain water collecting pump. These mechanisms will have different specifications regarding wear and corrosion and may lead to different statuses given our algorithm.

In [10]:
X_source = X[[ 'source', 'source_type', 'source_class']]
X_source.head()

                 source           source_type source_class
0                spring                spring  groundwater
1  rainwater harvesting  rainwater harvesting      surface
2                   dam                   dam      surface
3           machine dbh              borehole  groundwater
4  rainwater harvesting  rainwater harvesting      surface

In [11]:
X_source.source.value_counts()

spring                  17006
shallow well            15499
machine dbh             10826
river                    9612
rainwater harvesting     2218
hand dtw                  873
dam                       649
lake                      639
other                     202
unknown                    64
Name: source, dtype: int64

In [12]:
X_source.source_type.value_counts()

spring                  17006
shallow well            15499
borehole                11699
river/lake              10251
rainwater harvesting     2218
dam                       649
other                     266
Name: source_type, dtype: int64

In [13]:
X_source.source_class.value_counts()

groundwater    44204
surface        13118
unknown          266
Name: source_class, dtype: int64

### Inflow / Outflow

The column `amount_tsh` is defined as "Total static head (amount water available to waterpoint)".

By using `amount_tsh` and `quantity` or `quantity_group` we may get some idea of whether or not the pump is working properly. As a pump that has water to draw but is not drawing water is likely in need of maintenance.

`quantity_group` and `quantity` are the same. We will drop `quantity_group` because it has the most characters in the column name.

`amount_tsh` may be problematic because of the amount of `0` inputs that cannot be differentiated from NaN or 0. May remove later because of this.

In [14]:
X_IO = X[['amount_tsh', 'quantity', 'quantity_group']]
X_IO.head()

   amount_tsh      quantity quantity_group
0      6000.0        enough         enough
1         0.0  insufficient   insufficient
2        25.0        enough         enough
3         0.0           dry            dry
4         0.0      seasonal       seasonal

In [15]:
X_IO.quantity.value_counts()

enough          32260
insufficient    14564
dry              5990
seasonal         4001
unknown           773
Name: quantity, dtype: int64

In [16]:
X_IO.quantity_group.value_counts()

enough          32260
insufficient    14564
dry              5990
seasonal         4001
unknown           773
Name: quantity_group, dtype: int64

In [17]:
test_df = X_IO.quantity_group == X_IO.quantity
test_df.value_counts()

True    57588
dtype: int64

In [18]:
X_IO.amount_tsh.describe()

count     57588.000000
mean        327.645219
std        3043.831403
min           0.000000
25%           0.000000
50%           0.000000
75%          30.000000
max      350000.000000
Name: amount_tsh, dtype: float64

### Extraction Type

Extraction type is the actual mechanism of the pump. Different mechanisms are easier or more difficult to repair and break down at different rates. This may be more useful than source, as multiple types of mechanisms can be used for the same source type.

In [19]:
X.extraction_type_class.value_counts()

gravity         26696
handpump        15179
other            6160
submersible      6046
motorpump        2939
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

### Population

{write stuff here}

### Landform, Lithology and Soils

{write stuff here}

## Data Cleaning

Things to do:
- Remove unwanted or clerical columns.
- Bin `construction_year` and potentially roll smaller values into `other` bins to help with class imbalance.
- Output cleaned data to new csv for modeling purposes.

Spatial Join data set and original data set are being kept seperate due to differences in dataframe shape. Time permitting, we may take a second look at the spatial join and see if we can impute lat-long using random placement and `lga` to recover the 2000 or so lost entries.

### Binning

In [20]:
# Binning construction_year into new boolean column is_new with cut-off year 'NewYear'

# Set cut-off year
NewYear = 2000

# Create new boolean column with cut-off year
X['is_new'] = X['construction_year'] >= NewYear
X.is_new.value_counts()

False    37097
True     20491
Name: is_new, dtype: int64

In [21]:
# Bin funder

X['funder'].loc[X['funder'] != 'Government Of Tanzania'] = 'Other'

C:\Users\bjere\anaconda\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
# Creating new column to bin scheme_management
X['scheme_class'] = X['scheme_management']

In [23]:
# Bin scheme_management as scheme_class

replace_dict = {'Parastatal' : 'Government',
                'Water authority' : 'Government',
                'WUA' : 'Government',
                'WUG' : 'Government',
                'VWC' : 'Government',
                'SWC' : 'Government',
                'Water Board' : 'Government', 
                'Private operator' : 'Other',
                'Trust' : 'Other',
                'Company' : 'Other',
                'None' : 'None',
                np.NaN : 'None'}

X.scheme_class.replace(replace_dict, inplace=True)

In [24]:
X.scheme_class.value_counts()

Government    50876
None           3751
Other          2961
Name: scheme_class, dtype: int64

In [25]:
## Binning Installer

X['installer'] = X.installer.str.upper()

In [26]:
# Consolidating government installers into Government.

imputer = {'GOVERNMENT' : 'Government',
           'DWE' : 'Government',
           'RWE' : 'Government',
           'WIZARA  YA MAJI' : 'Government',
           'COMMU' : 'Government',
           '0' : 'Other',
           'DANIDA' : 'Private',
           'HESAWA' : 'Private',
           'KKKT' : 'Private',
           'CENTRAL GOVERNMENT' : 'Government',
           'TCRS' : 'Private',
           'COMMUNITY' : 'Other',
           'CES' : 'Private',
           'DANID' : 'Private',
           'DISTRICT COUNCIL' : 'Government',
           'WORLD VISION' : 'Private',
           'LGA' : 'Government',
           'WEDECO' : 'Private',
           'TASAF' : 'Government',
           'GOVER' : 'Government',
           'AMREF' : 'Private',
           'TWESA' : 'Government',
           'WU' : 'Private',
           'DMDD' : 'Other',
           'ACRA' : 'Private',
           'FINI WATER' : 'Other',
           'NORAD' : 'Private',
           'DA' : 'Government',
           'SEMA' : 'Private',
           'DW' : 'Other',
           'JAICA' : 'Private',
           'OXFAM' : 'Private',
           'UNICEF' : 'Private',
           'SHIPO' : 'Private',
           'IDARA YA MAJI' : 'Government',
           'GOVE' : 'Government',
           'VILLAGERS' : 'Other',
           'SENGEREMA WATER DEPARTMENT' : 'Government',
           'KILIWATER' : 'Private',
           'FINW' : 'Private',
           'RC CHURCH' : 'Private',
           'DH' : 'Government',
           'KUWAIT' : 'Private',
           'DWSP' : 'Government',
           'DISTRI' : 'Government',
           'LAWATEFUKA WATER SUP' : 'Government',
           'RC' : 'Government',
           'MAGADINI-MAKIWARU WA' : 'Other',
           'DISTRICT WATER DEPARTMENT' : 'Government',
           'FW' : 'Other',
           'KKKT _ KONDE AND DWE' : 'Other',
           'PRIVATE' : 'Private',
           'CENTR' : 'Other',
           'WVT' : 'Private'}

X.installer.replace(imputer, inplace=True)
X.installer.fillna('Other', inplace=True)

X.installer.value_counts()

Government              25664
Private                  9955
Other                    6862
MWE                       157
IS                        156
                        ...
INSITITUTIONA               1
TUKWARE ENTERP              1
TASAFCITIZEN AND LGA        1
ZINGIBALI SECONDARY         1
SELEPTA                     1
Name: installer, Length: 1853, dtype: int64

In [27]:
# Iterate through remaining values and replace with bulk Other
# This column requires more fine-tooth combing regarding binning given that following our brief definition foray,
#      there are still 1884 unique rows with < 157 entries that amount to near 20,000, or approximately 30% of the
#      full data set's entries. Because of our binning method, Other will likely be oversampled.

for i in X['installer'].values:
    if i != 'Government':
        if i != 'Private':
            if i != 'Other':
                X.installer.replace({i:'Other'}, inplace=True)

In [28]:
X.installer.value_counts()

Government    25664
Other         21969
Private        9955
Name: installer, dtype: int64

### Dropping

In [29]:
# list of cols for physical models
cols1 = ['is_new', 'extraction_type_class', 'amount_tsh', 'quantity', 
         'source_type', 'source_class', 'quality_group', 'population', 
         'target', 'landform', 'lithology', 'soils', 'wrb', 
         'dominant_soil', 'code_wrb']

# list of cols for political models
cols2 = ['funder', 'num_private', 'region', 'subvillage', 'scheme_management',
         'scheme_class', 'permit', 'payment', 'source', 'installer']

In [30]:
# Dropping columns we're not interested in or do not make sense for analysis

# Set list of kept columns for concatenation with Samira's kept columns
keep_cols = cols1 + cols2

# New dataframe with kept columns
df = X[keep_cols]

In [31]:
# Display cleaned data frame
df

,is_new,extraction_type_class,amount_tsh,quantity,source_type,source_class,quality_group,population,target,landform,...,funder,num_private,region,subvillage,scheme_management,scheme_class,permit,payment,source,installer
0,False,gravity,6000.0,enough,spring,groundwater,good,109,functional,TM,...,Other,0,Iringa,Mnyusi B,VWC,Government,False,pay annually,spring,Other
1,True,gravity,0.0,insufficient,rainwater harvesting,surface,good,280,functional,LP,...,Other,0,Mara,Nyamara,Other,Other,True,never pay,rainwater harvesting,Other
2,True,gravity,25.0,enough,dam,surface,good,250,functional,LP,...,Other,0,Manyara,Majengo,VWC,Government,True,pay per bucket,dam,Private
3,False,submersible,0.0,dry,borehole,groundwater,good,58,non functional,LP,...,Other,0,Mtwara,Mahakamani,VWC,Government,True,never pay,machine dbh,Private
4,False,gravity,0.0,seasonal,rainwater harvesting,surface,good,0,functional,SH,...,Other,0,Kagera,Kyanyamisa,NaN,None,True,never pay,rainwater harvesting,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57583,False,gravity,10.0,enough,spring,groundwater,good,125,functional,SH,...,Other,0,Kilimanjaro,Kiduruni,Water Board,Government,True,pay per bucket,spring,Private
57584,False,gravity,4700.0,enough,river/lake,surface,good,56,functional,SH,...,Other,0,Iringa,Igumbilo,VWC,Government,True,pay annually,river,Other
57585,False,handpump,0.0,enough,borehole,groundwater,fluoride,0,functional,LP,...,Other,0,Mbeya,Madungulu,VWC,Government,False,pay monthly,machine dbh,Other
57586,False,handpump,0.0,insufficient,shallow well,groundwater,good,0,functional,SH,...,Other,0,Dodoma,Mwinyi,VWC,Government,True,never pay,shallow well,Other
57587,True,handpump,0.0,enough,shallow well,groundwater,salty,150,functional,LP,...,Other,0,Morogoro,Kikatanyemba,VWC,Government,True,pay when scheme fails,shallow well,Other

### Dealing with null values

In [32]:
# Checking for null values to deal with in columns

for i in df.columns:
    print(f'{i} has {df[i].isna().sum()} null values')

is_new has 0 null values
extraction_type_class has 0 null values
amount_tsh has 0 null values
quantity has 0 null values
source_type has 0 null values
source_class has 0 null values
quality_group has 0 null values
population has 0 null values
target has 0 null values
landform has 141 null values
lithology has 141 null values
soils has 141 null values
wrb has 141 null values
dominant_soil has 141 null values
code_wrb has 141 null values
funder has 0 null values
num_private has 0 null values
region has 0 null values
subvillage has 371 null values
scheme_management has 3750 null values
scheme_class has 0 null values
permit has 3056 null values
payment has 0 null values
source has 0 null values
installer has 0 null values

In [33]:
# Replacing permit NaNs
# For column permits we have these values associated with management schemes:
#
#       Government: we assume true because government entities likely have the political authority to permit wells.
#       Other: We assume false because the entity is unknown or not a government entity and errors here effect only
#              a small amount of entries.
#       None: We assume false because the source either predates permitting or was likely installed without permit 
#             and errors here effect only a small amount of entries.

imputer = {'Government' : True,
           'Other' : False,
           'None' : False}

df.permit.fillna(df.scheme_class.map(imputer), inplace=True)

C:\Users\bjere\anaconda\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [38]:
# Replacing NaNs with Unknown in soil/landform/lithology data.

cols = ['landform', 'lithology', 'soils', 'wrb', 'dominant_soil', 'code_wrb']

for i in cols:
    df[i].fillna('Unknown', inplace=True);

C:\Users\bjere\anaconda\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [39]:
# Checking for null values to deal with in columns

for i in df.columns:
    print(f'{i} has {df[i].isna().sum()} null values')

is_new has 0 null values
extraction_type_class has 0 null values
amount_tsh has 0 null values
quantity has 0 null values
source_type has 0 null values
source_class has 0 null values
quality_group has 0 null values
population has 0 null values
target has 0 null values
landform has 0 null values
lithology has 0 null values
soils has 0 null values
wrb has 0 null values
dominant_soil has 0 null values
code_wrb has 0 null values
funder has 0 null values
num_private has 0 null values
region has 0 null values
subvillage has 371 null values
scheme_management has 3750 null values
scheme_class has 0 null values
permit has 0 null values
payment has 0 null values
source has 0 null values
installer has 0 null values

In [40]:
df.to_csv(path_or_buf = "./00_Source_Data/Data/df_clean_SpatialJoin.csv", header=True)